<section class="sign-in-page">
    <div class="form-heading">
        <h1>Login</h1>
    </div>
    <div class="form-section">
        <form class="login-form">
            <div>
                <label for="username-signup">Enter your Username</label>
                <input type="text" class="entry-field" id="username-login" />
            </div>
            <div>
                <label for="password-signup">Enter your password</label>
                <input type="password" class="entry-field" id="password-login" />
            </div>
            <div>
                <button type="submit" class="login-signup-btn">Log in!</button>
            </div>
        </form>
    </div>

    <a href="/signup" class="signup-link">Sign up instead</a>
</section>

<script src="/functionality/login.js"></script>